[submodule "TRESCLOUD/account-analytic"]
	path = TRESCLOUD/account-analytic
	url = git@github.com:TRESCLOUD/account-analytic.git
	branch = 16.0
[submodule "TRESCLOUD/ecuadorian-hr16"]
	path = TRESCLOUD/ecuadorian-hr16
	url = git@github.com:TRESCLOUD/ecuadorian-hr16.git
	branch = 2023-05-16-PR/auto-encrypt
[submodule "TRESCLOUD/ecuadorian-localization16"]
	path = TRESCLOUD/ecuadorian-localization16
	url = git@github.com:TRESCLOUD/ecuadorian-localization16.git
	branch = 2023-05-17-PR/auto-encripcion
