[submodule "TRESCLOUD/account-analytic"]
	path = TRESCLOUD/account-analytic
	url = git@github.com:TRESCLOUD/account-analytic.git
	branch = 16.0
[submodule "TRESCLOUD/encrypted_localization_16"]
	path = TRESCLOUD/encrypted_localization_16
	url = git@github.com:TRESCLOUD/encrypted_localization_16.git
	branch = 2023-05-11-PR/test_encrypt
[submodule "TRESCLOUD/encrypted_hr_16"]
	path = TRESCLOUD/encrypted_hr_16
	url = git@github.com:TRESCLOUD/encrypted_hr_16.git
	branch = 2023-05-11/test_encrypt
